<% render 'shared/page_title' %>
<h1><%= "#{@page_heading}" %></h1>
<br />

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Name: <%= @item.name %></p>
    
    <p>Current number in stock: <%= @item.quantity %></p>

    <p>
      Avaliable to resellers: 
      <%= @item.avaliable_to_reseller? ? "Yes" : "No" %>
    </p>
    
    <p>Current Price: <%= humanized_money_with_symbol @item.price %></p>
    
    <% if @item.avaliable_to_reseller? %>
      <p>Suggested Retail Price: 
        <%= humanized_money_with_symbol @item.suggested_retail_price %>
      </p>
    <% end %>    
    <br />
    <div class="index">
      <h2 class="section">
        Notes <%= link_to 'add', new_inventory_item_note_path(@item) %>
      </h2>
      <%= paginate @notes %>
      <ul class="notes">
        <%= render @notes %>
      </ul>
    </div>

  </div>
</div>