<% render 'shared/page_title' %>
<h1><%= "#{@page_heading}" %></h1>
<br />

<div class="row">
  <aside class="col-md-2 col-md-offset-1">
    <section class="order_info">
      Order Total: <%= humanized_money_with_symbol(@order.total) %>
      <% if !@order.submitted? && !@order.completed? %>
        <%= form_for(@order, url: order_submit_path(@order)) do |o| %>
          <%= o.submit "Submit Order", class: "btn btn-main" %>
        <%end %>
      <% else %>
        <br /><%= link_to "Print Invoice", 
                  receipt_report_path(id: @order.id), target: _blank %>
      <% end %>
    </section>
  </aside>

  <div class="col-md-6">
    <% if @items.any? %>
      <h2 class="section">Current items in order</h2>
      <%= render 'shared/paginate_list', object: @items, 
                                   locals: { class_name: "index", 
                                             display: "both",
                                             submitted: @order.submitted?} %>
    <% else %>
      <h2 class="section">Order empty</h2>
    <% end %>
  </div>
</div>

<div class="row">
  <% if !@order.submitted? && !@order.completed? %> 
    <%= render 'items/form' %>
  <% end %>
</div>