<div class="col-md-7">

  <p>Serial Number: <%= @plant.serial_number %></p>
  <p>Name: <%= @plant.name %> </p>
  <p>Species: <%= @plant.species %> </p>
  <p>Planting Date: <%= @plant.planting_date.strftime("%m/%d/%Y") %> </p>
  <p>Estimated Harvest Date: 
    <%= (@plant.planting_date + 90.days).strftime("%m/%d/%Y") %> 
  </p>
  <% if !@plant.harvest_date.nil? %>
    <p>
      Actual Harvest Date: <%= @plant.harvest_date.strftime("%m/%d/%Y") %>
    </p>
  <% end %>
  <p>Current State: <%= current_state(@plant.plant_state_id) %></p>
  
  <% if parent_found?(@plant.cloned_from_id) %>
    <p>
      Cloned From: <%= link_to cloned_from(@plant.cloned_from_id), 
                       plant_path(@plant.cloned_from_id) %>
    </p>
  <% end %>
  <% if !@measurement.nil? %>
    <p>
      Last Measurement:  Base(<%= @measurement.base %> in.) 
                         Height(<%= @measurement.height %> in.)
    </p>
  <% else %>
    <p>No measurements</p>
  <% end %>

  <hr />
  <h2>Add a task for <%= "#{@plant.name}" %></h2>
  <%= render 'tasks/fields' %>

</div>