<% render 'shared/page_title' %>
<h1><%= "#{@page_heading}" %></h1>
<br />

<%= render 'group', object: @cloning, title: "Cloning" %>
<hr />
<%= render 'group', object: @veging, title: "In Veg" %>
<hr />
<%= render 'group', object: @blooming, title: "In Bloom" %>
<hr />
<%= render 'group', object: @mothers, title: "Mother Plants" %>
