<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@role) do |role| %>
      <%= render 'shared/error_messages', object: role.object %>
      
      <%= role.label :name %>
      <%= role.text_field :name, class: "form-control" %>

      <%= role.label :level %>
      <%= role.text_field :level, class: "form-control" %>

      <%= role.submit @btn_text, class: "btn btn-primary" %>
    
    <% end %>
  </div>
</div>