<% if logged_in? %>

  <li><%= link_to "Home", root_path, class: "menu-tab" %></li>
  <% if staff? %>
    <% if administrator? %>
      <li><%= link_to "View Orders", orders_path, class: "menu-tab" %></li>
    <% end %>
    
    <!-- Dropdown menu for Users -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Users <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if administrator? %>
          <li><%= link_to "View all users", users_path %></li>
          <li><%= link_to "Add new user", new_user_path %></li>
          <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "View user roles", roles_path %></li>
        <% else %>
          <!-- Non admin users only have the ability to change password -->
          <li>
            <%= link_to "Change Password", edit_user_path(current_user) %>
          </li>
        <% end %>
      </ul>
    </li>
    

    <!-- Dropdown menu for plants -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Plants <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "View all plants", plants_path %></li>

        <% if administrator? %>
          <li><%= link_to "Add a Plant", new_plant_path %></li>
          <li class="divider"></li>
          <li><%= link_to "View all plant states", plant_states_path %></li>
          <li><%= link_to "Add new state", new_plant_state_path %></li>
        <% end %>
      </ul>
    </li>

    <!-- Dropdown menu for Tasks -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Tasks <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "View my open tasks", user_tasks_path(current_user) %>
          <%= link_to "Create Routine Task", new_task_path %>
        </li>
        <% if administrator? %>
          <li><%= link_to "View all tasks", tasks_path %></li>
        <% end %>
      </ul>
    </li>

    <!-- Dropdown menu for Notes -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Notes <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "View my open notes", user_notes_path(current_user) %>
        </li>
        <li>
          <%= link_to "Add new note", new_user_note_path(current_user) %>
        </li>
      </ul>
    </li>

  <!-- Dropdown menu for Inventory -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Inventory <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "View inventory", inventory_items_path %></li>
        <% if administrator? %>
          <li><%= link_to "Add new item", new_inventory_item_path %></li>
        <% end %>
      </ul>
    </li>
  
    <!-- Dropdown menu for Reports -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle menu-tab" data-toggle="dropdown">
      Reports <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if administrator? %>
          <li><%= link_to "Users", full_user_report_path %></li>
          <li><%= link_to "Orders", full_order_report_path %></li>
        <% end %>
        <li><%= link_to "Plants", full_plant_report_path %></li>
        <li><%= link_to "Tasks", full_task_report_path %></li>
        <li><%= link_to "Notes", full_note_report_path %></li>
        <li><%= link_to "Inventory", full_item_report_path %></li>
      </ul>
    </li>

  <% end %>


  <% if reseller?(true) %>
    <li>
      <%= link_to "New Order", user_orders_path(current_user), 
                               method: :create, class: "menu-tab" %>
    </li>
  <% end %>  

  <li>
    <%= link_to "#{current_user.name} (Logout)", logout_path, method: :delete,
                                                 class: "menu-tab" %>
  </li>

<% else %>
  
  <li><%= link_to "Login", login_path, class: "menu-tab" %></li>

<% end %>
