<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Plants", "#" %></li>
<li><%= link_to "Tasks", "#" %></li>
<li><%= link_to "Notes", "#" %></li>
<li><%= link_to "Inventory", "#" %></li>
<li><%= link_to "Login", "#" %></li>
<li><%= link_to "Logout", "#" %></li>
